---
# Enables extra output for debugging
debug: True

# The API token provided by slack
slack_token: xoxb-27...

# Directory for extra plugins
plugin_dir: plugins

# Plugin list to load
plugins:
# Uncomment the following to enable ACL+admin checks
#  - slackminion.plugins.core.AuthManager
  - slackminion.plugins.test.TestPlugin
#  - slackminion.plugins.test.TestAclPlugin

# Users who should be granted admin access
# Only used if AuthManager is enabled
bot_admins:
  - someuser

plugin_settings:
  TestPlugin:
    channel: botfactory

# Commands to always reply using DM
always_send_dm:
  - help

# Web server host and port to bind to
webserver:
  host: 127.0.0.1
  port: 11111
