---
# Enables extra output for debugging
debug: True

# The API token provided by slack
slack_token: xoxb-27...

# Directory for extra plugins
plugin_dir: plugins

# Plugin list to load
plugins:
# Uncomment the following to enable ACL+admin checks
#  - slackminion.plugins.core.AuthManager
  - slackminion.plugins.test.TestPlugin
#  - slackminion.plugins.test.TestAclPlugin
  - slackminion.plugins.state.file.FileStateHandler
# Comment out the above and uncomment this line to use s3 instead
#  - slackminion.plugins.state_s3.handler.S3StateHandler
# Comment out the above and uncomment this line to use redis instead
#  - slackminion.plugins.state_redis.handler.RedisStateHandler
# Comment out the above and uncomment this line to use mysql instead
#  - slackminion.plugins.state_mysql.handler.MySQLStateHandler

# Users who should be granted admin access
# Only used if AuthManager is enabled
bot_admins:
  - someuser

# Hide admin commands in !help from non-admins
hide_admin_commands: True

plugin_settings:
  FileStateHandler:
    data_dir: .
  RedisStateHandler:
    host: localhost
    port: 6379
  MySQLStateHandler:
    host: localhost
    user: slack
    passwd: slack
    db: slack
  S3StateHandler:
    bucket: slack
    prefix: bot
    aws_access_key: aws_key
    aws_secret_key: aws_secret
  TestPlugin:
    channel: botfactory

# Commands to always reply using DM
always_send_dm:
  - help
  - whoami

# Web server host and port to bind to
webserver:
  host: 127.0.0.1
  port: 11111
